# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DesignPatterns.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\erayb\Desktop\Repos\Programming\C#\DesignPatterns\.idea\.idea.DesignPatterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
